* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header {min-height: 10vh;
width: 30%vh;
border-bottom: 3px solid black;}
 h3{ text-align: center;}
body {background-color: aquamarine;}
main {min-height: 70vh;}
main h1{text-align: center;
margin: 7px;}

section{ background-color: white;
   
font-size: 20px;
text-align: center;
margin: 0 auto;
 max-width: 600px;
  padding: 30px 40px;
}


.hide {display: none;}

