* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header {min-height: 10vh;
width: 30%vh;
border-bottom: 3px solid black;}
 h3{ text-align: center;}
body {background-color: aquamarine;}

main h1{text-align: center;
margin: 7px;}

section{ 
  background-color: white;  

margin: 0 auto;
 width: 50%;

  padding: 30px 40px  
}
#quizStart {flex-direction: column;
  justify-content:center ;
text-align: center;}

#answer-buttons {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
}


.hide {display: none;}

